body{
    margin: 0;
    background: url('img/backgrounds/4/5.png');
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0;
}

canvas{
    background-color: black;
}

.startScreen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
}

.backGrnImg{
    width: 100%;
    height: 100%;
}

.startH1{
    margin: 48px 0px 0px 0px;
    position: absolute;
}

.instrucktions{
    margin: 96px 0px 0px 0px;
    width: 448px;
    height: 200px;
    background-color: aqua;
    position: absolute;
}

.starterImg{
    width: 248px;
    position: absolute;
}

.char{
    bottom: 30px;
    left: 0px;
}

.walker{
    bottom: 30px;
    right: 0px;
    transform: scaleX(-1);
    rotate: 33deg;
}

.walker2{
    bottom: 12px;
    left: 155px;
    transform: scaleX(-1);
}

.boss{
    transform:  scaleX(-1);
    width: 600px;
    right: -336px;
    rotate: -7deg;
    bottom: 155px;
}

.effeck1{
    bottom: 12px;
    right: 94px;
    width: 348px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}