.blur-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);  
    z-index: 10; 
}

.animation{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.animatedArea{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
}

.spinnigObject{
    height: 480px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.spinningFlake{
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}