@media screen and (max-width: 975px) {

    .message{
        width: 75vw;
    }
}

@media screen and (max-width: 500px) {

    .mobileTurnScreen{
        display: flex;
    }
}

@media (max-height: 660px) {

    .starterImg{
        width: 128px;
    }

    .boss{
        right: 8px;
        width: 228px;
    }
}

@media (max-height: 500px) {

    .endBtnBox{
        height: 36px;
    }

    .btn{
        font-size: 24px;
    }
}

@media (max-height: 450px) {

    canvas{
        width: 480px;
    }

    .instrucktions {
        height: 164px;
    }

    .letterBox{
        margin: 4px 8px 4px 8px;
        font-size: 16px;
    }

    p{
        margin: 0px;
        font-size: 28px;
    }

    .message{
        height: 75vh;
    }

    h2{
        font-size: 40px;
    }
}

@media (max-height: 415px) {

    .btnArea{
        display: flex;
    }
}