@media screen and (max-width: 1470px) {

    .effeck1{
        z-index: 1;
    }
}

@media screen and (max-width: 975px) {

    .message{
        width: 75vw;
    }
}

@media screen and (max-width: 950px) {

    .controllContent{
        margin:0;
        width: 100%;
    }

    .controlls{
        flex-direction: row;
        right: 448px;
    }

    .letterBox{
        margin: 1px;
    }

    .controllsBox{
        height: 48px;
        margin: 4px 4px 4px 4px;
    }
}

@media screen and (max-width: 850px) {

    .boss{
        width: 500px;
    }
}

@media screen and (max-width: 500px) {

    .mobileTurnScreen{
        display: flex;
    }

    .btnArea{
        display: flex;
    }

    .startPara{
        font-size: 12px;
    }
}

@media (max-height: 660px) {


    .starterImg {
        display: none;
    }
}

@media (max-height: 525px) {

    .endBtnBox{
        height: 36px;
    }

    .btn{
        font-size: 24px;
    }

    h1{
        top: 12px;

    }

    .instrucktions{
        margin: 128px 0px 0px 0px;
    }

    .startPara{
        font-size: 12px;
    }

    .controllsBox{
        padding: 4px 4px 4px 4px;
    }
}

@media (max-height: 450px) {

    canvas{
        width: 480px;
    }

    .instrucktions {
        height: 164px;
    }

    .letterBox{
        margin: 4px 8px 4px 8px;
        font-size: 16px;
    }

    p{
        margin: 0px;
        font-size: 28px;
    }

    .message{
        height: 75vh;
    }

    h2{
        font-size: 40px;
    }
}

@media (max-height: 415px) {

    .btnArea{
        display: flex;
    }

    .instrucktions{
        margin: 72px 0px 0px 0px;
    }
}

@media (max-height: 325px) {

    h1{
        font-size: 32px;
    }

    .instrucktions{
        margin: 48px 0px 0px 0px;
    }

    p{
        font-size: 12px;
    }

    .letterBox{
        font-size: 12px;
        margin: 2px 4px 2px 4px;
    }

    .btnBox{
        bottom: 12px;
    }
}
