@media screen and (max-width: 1470px) {

    .effeck1{
        z-index: 1;
    }
}

@media screen and (max-width: 975px) {

    .message{
        width: 75vw;
    }
}

@media screen and (max-width: 950px) {

    .controllContent{
        margin:0;
        width: 100%;
    }

    .controlls{
        flex-direction: row;
        right: 448px;
    }

    .letterBox{
        margin: 1px;
    }

    .controllsBox{
        height: 48px;
        margin: 4px 4px 4px 4px;
    }
}

@media screen and (max-width: 850px) {

    .boss{
        width: 500px;
    }
}

@media screen and (max-width: 7250px) {

    .controllContent{
        display: none;
    }
}

@media screen and (max-width: 720px) {

    .mobileTurnScreen{
        display: flex;
    }

    .canvas{
        display: none;
    }
}

@media screen and (max-width: 675px) {

    .optImg{
        width: 24px;
    }

    .optBtn{
        width: auto;
        padding: 4px 8px 4px 8px;
    }
}

@media screen and (max-width: 600px) {

    .instrucktions{
        width: 400px;
    }

    .startPara{
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {

    .mobileTurnScreen{
        display: flex;
    }

    .canvas{
        display: none;
    }

    .btnArea{
        display: none;
    }

    .mobileControll{
        display: flex;
    }

    .startPara{
        font-size: 12px;
    }
}

@media (max-height: 660px) {


    .starterImg {
        display: none;
    }

    h1{
        display: none;
    }

    .bottomBox{
        bottom: 12px;
    }
}

@media (max-height: 600px) {

    .letterBoxManu{
        font-size: 12px;
        margin: 0;
    }

    .controllsBoxManu{
        padding: 0;
    }

    .gameManuell{
        height: 154px;
    }

    .startTxt{
        margin: 0;
        bottom: 172px;
    }
}

@media (max-height: 525px) {

    .endBtnBox{
        height: 36px;
    }

    .btn{
        font-size: 24px;
    }

    h1{
        top: 12px;

    }

    .instrucktions{
        margin: 128px 0px 0px 0px;
        height: 88px;
    }

    .gameManuell{
        height: 128px;
    }

    .startPara{
        font-size: 12px;
    }

    .instrucH3{
        font-size: 16px;
    }

    .manuH3{
        font-size: 16px;    
    }

    .manuPara{
        font-size: 12px;
    }

    .controllsBox{
        padding: 4px 4px 4px 4px;
    }

    .letterBoxManu{
        padding: 2px 4px 2px 4px;
    }
}

@media (max-height: 450px) {

    canvas{
        width: 480px;
    }

    .instrucktions {
        height: 164px;
        height: 88px;
    }

    .letterBox{
        margin: 4px 8px 4px 8px;
        font-size: 16px;
    }

    p{
        margin: 0px;
        font-size: 28px;
    }

    .message{
        height: 40vh;
    }

    h2{
        font-size: 40px;
    }

    .startH1{
        font-size: 24px;
    }

    .startTxt{
        bottom: inherit;
        margin: 8px 0px 0px 0px;
    }

    .instrucktions{
        margin: 28px 0px 0px 0px;
    }

    .lostH2{
        font-size: 18px;
    }

    .paraLost{
        font-size: 12px;
    }
}

@media (max-height: 415px) {

    .btnArea{
        display: flex;
    }

    .btn{
        font-size: 18px;
    }

    .btnBox{
        bottom: 50px;
    }

    .instrucktions{
        margin: 0;
    }

    .lostPara{
        font-size: 18px;
    }
}

@media (max-height: 375px) {

    .startH1{
        display: none;
    }

    .instrucH3{
        font-size: 18px;
    }

    .letterBoxManu{
        padding: 2px 4px 2px 4px;
    }

    .bottomBox{
        flex-direction: row;
        display: flex;
    }

    .btnBox{
        position: unset;
        margin: 0px 4px 0px 4px;
        bottom: 24px;
    }
}

@media (max-height: 325px) {

    h1{
        font-size: 32px;
    }

    .instrucktions{
        
    }

    p{
        font-size: 12px;
    }

    .letterBox{
        font-size: 12px;
        margin: 2px 4px 2px 4px;
    }

    .btnBox{
        bottom: 12px;
    }
}

@media (width: 1024px) and (height: 1366px) {

    .mobileControll{
        display: flex;
    }
}
